/*side bars*/

#left-sidebar-container,
#right-sidebar-container {
	display: none !important;
}

/* 160% zoom */

@media (min-width: 960px) {
    .s\:\[\&\.fixed-sidebar\]\:grid-cols-\[minmax\(0\2c 756px\)_minmax\(0\2c 316px\)\].fixed-sidebar {
        grid-template-columns: 100%;
    }
}

@media (min-width: 768px) {
    .xs\:\[\&\.fixed-sidebar\]\:grid-cols-\[minmax\(0\2c 756px\)_minmax\(0\2c 316px\)\].fixed-sidebar {
        grid-template-columns: 100%;
    }
}

/*Header*/

.header{
    display: none !important;
}

.pt-\[var\(--page-y-padding\)\] {
     padding-top: 0; 
}
